/* Global Styles */
html, body {
    height: 100%; /* Ensure full height for html and body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Reset default padding */
    font-family: 'Arial', sans-serif; /* Font family for the entire body */
    background-color: #fce4ec; /* Light pink background */
    display: flex;
    flex-direction: column; /* Flex items arranged in a column */
}

.nomargin {
    margin: 0;
}

/* Footer */
.endofcontent {
    flex: 1; /* Allow footer to take up remaining vertical space */
}

.footer {
    background-color: #d81b60; /* Footer background color */
    color: white; /* White text color */
    text-align: center; /* Center text alignment */
    padding: 15px 0; /* Padding for the footer */
    width: 100%; /* Full width for the footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Title Bar */
.titlebar {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space out elements */
    background-color: #d81b60; /* Dark pink background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the title bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.titlebar .logo img {
    height: 50px; /* Logo image height */
}

.site-title {
    color: #FFFFFF; /* Title text color */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Font size for site title */
}

/* Navigation */
.navigation {
    margin: 20px 0; /* Margin above and below */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align items vertically */
}

.auth-buttons {
    margin-left: 0px; /* Space before the buttons */
    display: flex; /* Use flexbox for buttons */
}

.divider {
    width: 1px; /* Width of the divider */
    height: 30px; /* Height of the divider */
    background-color: white; /* Color of the divider */
    margin: 0 20px; /* Spacing around the divider */
}

.navigation ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for items */
}

.navigation li {
    margin-left: 20px; /* Space between items */
}

.navigation a {
    color: white; /* Link text color */
    text-decoration: none; /* No underline */
    transition: color 0.3s; /* Smooth transition on hover */
}

.navigation a:hover {
    color: #ffcc00; /* Change link color on hover */
}

/* Container */
.container {
    max-width: 800px; /* Maximum width */
    min-width: calc(44.44vw); /* Minimum width set to 1/3 of the viewport */
    margin: 20px auto; /* Center the container */
    padding: 20px; /* Padding inside container */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    border-radius: 10px; /* Rounded corners */
}

/* Headings */
h1 {
    color: #d81b60; /* Main heading color */
}

h2 {
    color: #db8cc6; /* Subheading color */
}

.doubleheading1 {
    margin-bottom: 0; /* Remove bottom margin */
}

.doubleheading2 {
    margin-top: 0; /* Remove top margin */
}

/* Buttons */
.button, input[type="submit"], .submit-button {
    display: inline-block; /* Button styled as inline block */
    background-color: #d81b60; /* Background color */
    color: white; /* Text color */
    padding: 10px; /* Padding inside button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Ensures the button does not get underlined */
}

.button:hover, input[type="submit"]:hover, .submit-button:hover {
    background-color: #c2185b; /* Darker pink on hover */
}

.view_sheet_button {
    display: inline-block; /* Button styled as inline block */
    background-color: #579539; /* Background color */
    color: white; /* Text color */
    padding: 10px; /* Padding inside button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Ensures the button does not get underlined */
}

.view_sheet_button:hover {
    background-color: #2F7F2D;
}

/* Input Fields */
label {
    display: block; /* Labels as block elements */
    margin: 10px 0 5px; /* Margins for spacing */
}

input[type="text"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px; /* Padding inside */
    margin-bottom: 15px; /* Bottom margin for spacing */
    border: 1px solid #e91e63; /* Input border color */
    border-radius: 5px; /* Rounded corners */
}

/* Game Info Card */
.game-info-card {
    background: #fff; /* White background */
    border: 2px solid #d3d3d3; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 20px; /* Margin above the card */
}

.game-info {
    display: flex;
    align-items: flex_start;
    flex-direction: row; /* Arrange items in a column */
}

.game-cover {
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    max-width: 187.5px;
    max-heigh: 281.25px;
    border-radius: 10px; /* Rounded corners */
    margin-right: 20px; /* Space between the image and text */
}

.info-details {
    flex: 1; /* Allow info details to take the remaining space */
}

.info-item {
    margin-bottom: 10px; /* Space between items */
}

.info-item strong {
    color: #d81b60; /* Color for strong labels */
}

