/* Global Styles */
html, body {
    height: 100%; /* Ensure full height for html and body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Reset default padding */
    font-family: 'Arial', sans-serif; /* Font family for the entire body */
    background-color: #fce4ec; /* Light pink background */
    display: flex;
    flex-direction: column; /* Flex items arranged in a column */
}

.nomargin {
    margin: 0; /* Remove all margin */
}

.nobottommargin {
    margin-bottom: 0; /* Remove bottom margin */
}

.notopmargin {
    margin-top: 0; /* Remove top margin */
}

/* Footer */
.endofcontent {
    flex: 1; /* Allow footer to take up remaining vertical space */
}

.footer {
    background-color: #d81b60; /* Footer background color */
    color: white; /* White text color */
    text-align: center; /* Center text alignment */
    padding: 15px 0; /* Padding for the footer */
    width: 100%; /* Full width for the footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Title Bar */
.titlebar {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space out elements */
    background-color: #d81b60; /* Dark pink background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the title bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.site-header-link {
    text-decoration: none;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;  /* Horizontally centered */
}

.site-icon {
    width: 64px;  /* Adjust the width */
    height: 64px; /* Adjust the height */
    margin-right: 15px;
}

.site-title {
    color: #FFFFFF; /* Title text color */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Font size for site title */
}

/* Navigation */
.navigation {
    margin: 20px 0; /* Margin above and below */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align items vertically */
}

.divider {
    width: 1px; /* Width of the divider */
    height: 30px; /* Height of the divider */
    background-color: white; /* Color of the divider */
    margin: 0 20px; /* Spacing around the divider */
}

.navigation ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for items */
}

.navigation li {
    margin-left: 20px; /* Space between items */
}

.navigation a {
    color: white; /* Link text color */
    text-decoration: none; /* No underline */
    transition: color 0.3s; /* Smooth transition on hover */
}

.navigation a:hover {
    color: #ffcc00; /* Change link color on hover */
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropbtn {
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-flex; /* Use inline-flex for the button */
  align-items: center; /* Align items vertically */
}

.nav-dropbtn:after {
  content: '\2BC6'; /* Unicode down arrow character */
  font-size: 0.8em; /* Adjust the font size as needed */
  color: white; /* Arrow color */
  margin-left: 0.5em; /* Add margin between text and arrow */
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #EE5A92;
  min-width: 160px;
  z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content, .nav-dropdown-content.show {
  display: block;
}

.nav-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-dropdown-content a:hover {
  background-color: #ED377B;
}

/* Containers */
.container {
    max-width: 800px; /* Maximum width */
    min-width: calc(44.44vw); /* Minimum width set to 1/3 of the viewport */
    margin: 20px auto; /* Center the container */
    padding: 20px; /* Padding inside container */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    border-radius: 10px; /* Rounded corners */
}

.container-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Headings */
h1 {
    color: #d81b60; /* Main heading color */
}

h2 {
    color: #db8cc6; /* Subheading color */
}

/* Buttons */
button:disabled, .disabled-button {
    cursor: not-allowed;
}

.button, input[type="submit"], .submit-button {
    /* Default Button */
    display: inline-block; /* Button styled as inline block */
    color: white; /* Text color */
    padding: 10px; /* Padding inside button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Ensures the button does not get underlined */
}

.button, input[type="submit"], .submit-button { 
    /* Default Button Enabled */
    background-color: #d81b60; /* Background color */
}

.button:hover:not(:disabled), input[type="submit"]:hover:not(:disabled), .submit-button:hover:not(:disabled) {
    /* Default Button Hover */
    background-color: #c2185b; /* Darker pink on hover */
}

.button:disabled, input[type="submit"]:disabled, .submit-button:disabled, .disabled-button {
    /* Default Button Disabled */
    background-color: #DFA7BC; /* Background color */
}

/* Input Fields */
label {
    display: block; /* Labels as block elements */
    margin: 10px 0 5px; /* Margins for spacing */
}

input[type="text"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px; /* Padding inside */
    margin-bottom: 15px; /* Bottom margin for spacing */
    border: 1px solid #e91e63; /* Input border color */
    border-radius: 5px; /* Rounded corners */
}

input[type="text"].readonly {
    background-color: #D5D5D5;
}

input[type="date"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px; /* Padding inside */
    margin-bottom: 15px; /* Bottom margin for spacing */
    border: 1px solid #e91e63; /* Input border color */
    border-radius: 5px; /* Rounded corners */
    background-color: white; /* White background */
}

input[type="date"].readonly {
    background-color: #D5D5D5; /* Grey background for readonly */
}

/* ----------------------------- Page Specific ----------------------------- */

/* Home Page */
#home-container {
    display: flex;
    align-items: center;
}

#homepage-logo {
    height: 128px;
    width: 128px;
    margin-right: 25px;
}

#homepage-feature-showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 20px; /* Space between grid items */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center items vertically within their grid cells */
}

.homepage-button-container {
    display: flex;
    flex: 1;
    align-items: center;
    align: center;
    flex-direction: column;
    text-align: center;
}

.homepage-button-container:last-child {
    grid-column: span 2; /* Make it span both columns */
    justify-self: center; /* Center it horizontally */
}

.homepage-button {
    /* Homepage Button */
    display: inline-block; /* Button styled as inline block */
    color: white; /* Text color */
    background-color: #d81b60; /* Background color */
    padding: 10px; /* Padding inside button */
    margin-top: 5px;
    magin-bottom: 5px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Ensures the button does not get underlined */
    min-width: calc(100% - 110px); /* Takes up all space - the margin */
}

.homepage-button:hover {
    /* Default Button Hover */
    background-color: #c2185b; /* Darker pink on hover */
}

.homepage-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view_sheet_button {
    display: inline-block; /* Button styled as inline block */
    background-color: #579539; /* Background color */
    color: white; /* Text color */
    padding: 10px; /* Padding inside button */
    margin-top: 5px;
    magin-bottom: 5px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Ensures the button does not get underlined */
    min-width: calc(200% - 110px); /* Takes up all space - the margin */
}

.view_sheet_button:hover {
    background-color: #2F7F2D;
}

#last-played-container {
    display: flex;
    align-items: center;
}

/* Game Info Card */
.game-info-card {
    background: #fff; /* White background */
    border: 2px solid #d3d3d3; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 20px; /* Margin above the card */
}

.game-info {
    display: flex;
    align-items: flex_start;
    flex-direction: row; /* Arrange items in a column */
}

.game-cover {
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    max-width: 187.5px;
    max-heigh: 281.25px;
    border-radius: 10px; /* Rounded corners */
    margin-right: 20px; /* Space between the image and text */
}

.info-details {
    flex: 1; /* Allow info details to take the remaining space */
}

.info-item {
    margin-bottom: 10px; /* Space between items */
}

.info-item strong {
    color: #d81b60; /* Color for strong labels */
}

/* Stopwatch */
.stopwatch_container {
    dispaly: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: fit-content; /* Ensures the width is determined by the content (stopwatch text and buttons) */
}

.stopwatch_text {
    font-size: 110px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

.stopwatch_button_group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%; /* Ensures the button group fills the remaining space */
    justify-content: space-between; /* Ensures buttons are spaced out */
}

.stopwatch_button {
    display: inline-block;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    flex-grow: 1; /* Makes the buttons expand equally to fill the available space */
}

.stopwatch_button.start:enabled {
    background-color: #30D158;
}

.stopwatch_button.start:disabled {
    background-color: #AFFFC3;
}

.stopwatch_button.stop:enabled {
    background-color: #FF3B30;
}

.stopwatch_button.stop:disabled {
    background-color: #FFB3B3;
}

.stopwatch_button.cancel:enabled {
    background-color: #007BFF;
}

.stopwatch_button.cancel:disabled {
    background-color: #A3C9FF;
}
