<!-- templates/game_info.html -->
{% extends 'base.html' %}

{% block title %}Check Game Info - Game Session Manager{% endblock %}

{% block content %}
    <div class="container">
        <h1>Check Game Info</h1>
        <form method="post">
            <label for="game_name">Game Name:</label>
            <input type="text" name="game_name" id="game_name" required>
            <input class="submit-button" type="submit" value="Check Info">
        </form>
{% if game_info %}
    <div class="game-info-card">
        <h2>Game Information</h2>
        <div class="game-info">
            <img src="{{ game_info.cover_url }}" alt="{{ game_info.game_name }} Cover" class="game-cover">
            <div class="info-details">
                <div class="info-item">
                    <strong>Game Name:</strong>
                    <span>{{ game_info.game_name }}</span>
                </div>
                <div class="info-item">
                    <strong>Developer:</strong>
                    <span>{{ game_info.developer }}</span>
                </div>
                <div class="info-item">
                    <strong>Total Playtime:</strong>
                    <span>{{ game_info.total_playtime }}</span>
                </div>
                <div class="info-item">
                    <strong>Platforms:</strong>
                    <span>{{ game_info.platforms }}</span>
                </div>
                <div class="info-item">
                    <strong>Price Paid:</strong>
                    <span>{{ game_info.total_price_paid }}</span>
                </div>
                <div class="info-item">
                    <strong>Value Played:</strong>
                    <span>{{ game_info.total_value_played }}</span>
                </div>
                <div class="info-item">
                    <strong>Last Played:</strong>
                    <span>{{ game_info.last_played }}</span>
                </div>
                <div class="info-item">
                    <strong>Average Session Length:</strong>
                    <span>{{ game_info.average_session_length }}</span>
                </div>
                <div class="info-item">
                    <strong>Session Count:</strong>
                    <span>{{ game_info.session_count }}</span>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    </div>
{% endblock %}