<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home - Game Session Manager{% endblock %}

{% block content %}
    <div class="container">
        <!-- Splash Art -->
        <div id="home-container">
            <img src="{{ url_for('assets', filename='gameControllerIcon-Pink.png') }}" id="homepage-logo" type="image/png">
            <div>
                <h1 class="nobottommargin">Z's Game Session Manager</h1>
                <h2 class="nomargin">Web Interface {{ version }}</h2>
                <h5 class="notopmargin" style="color: gray">Powered by Google Sheets API</h5>
            </div>
        </div>
        <!-- END SECTION -->
        <hr style="border: 1px solid black">
        <!-- Feature Showcase -->
        <div id="homepage-feature-showcase">
            <div class="homepage-button-container">
                <h2 class="homepage-label" style="color: #d81b60;">Log a Session</h2>
                <a class="homepage-button" href="/add_entry">Manual Mode</a>
                <a class="homepage-button" href="/stopwatch">Stopwatch Mode (BETA)</a>
            </div>
            <div class="homepage-button-container">
                <h2 class="homepage-label" style="color: #d81b60;">See Game Info</h2>
                <a class="homepage-button" href="/check_game_info">Specific Game</a>
                <a class="homepage-button" href="/list_games">All Games</a>
            </div>
            <div class="homepage-button-container">
                <h2 clas="homepage-label" style="color: #579539;">Make your own sheet!</h2>
                <a class="view_sheet_button" href="https://docs.google.com/spreadsheets/d/1cYQ8B-lnzHLaO32mFZJTweRy8vqjr0Wm2kmcHEcFP8A/edit?gid=329820141#gid=329820141">View Google Sheet</a>
            </div>
        </div>
        </br>
    </div>
{% endblock %}